.item {
  	width: 30vw;
  	height: 30vw;
	display: inline;
}

body {
	background-color: #70483c;
	color: #f2e9cc;
	text-transform: uppercase;
	font-family: Copperplate, sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 70px;
	text-transform: none;
	font-family: "Brush Script MT", serif;
	font-weight: lighter;
	text-align: center;
}
h3 {
	display: inline-block;
	width: 30vw;
	text-align: center;
	font-size: 30px;
	color: #d9a448;
}
b, th {
	color: #d9a448
}
table {
	font-size: 30px;
}

